.Thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin: 10px;
}

.Thumbnail:hover img {
    border: 1px solid cornflowerblue;
    transition: .3s;
}

h1 {
    font-size: 1em;
}

img {
    display: flex;
    margin: 0;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

p,
h1,
a {
    color: darkgray;
    text-align: left;
    margin: 0;
    text-decoration: none;
}