.orangeBg {
    background-color: #E78E4F;
}

.whiteBg {
    background-color: #E7DFDC;
}

.blackBg {
    background-color: #0C1A1D;
    color: #E7DFDC;
}

.greyBg {
    background-color: #455147;
}

.pinkBg {
    background-color: #EFB293;
}

.App {
    text-align: center;
    color: #E7DFDC;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 10vh;
    width: 7vw;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

footer {
    min-height: 10vh;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Main {
    display: flex;
    flex-flow: column;
    min-height: 80vh;
}